/*Leaflet night/dark mode*/
.light .leaflet-popup-content-wrapper {
    background: black;
}

.dark .leaflet-popup-content-wrapper {
    background: white;
}

html, html[data-theme="light"] {
    --color-bg-main: #FFFFFF;
    --color-bg-sub: #FAFAFC;
    --color-text-main: #282832;
    --color-text-sub: #5D5D67;
    --color-text-link: #2380ED;
    --color-border-dark: #363636;
    --color-border: #BABCBD;
    --color-border-light: #E5E5E5
}

html[data-theme="dark"] {
    --color-bg-main: #262626;
    --color-bg-sub: #18181C;
    --color-text-main: #FAFAFC;
    --color-text-sub: #FFFEFF;
    --color-text-link: #6D9EFF;
    --color-border-dark: #E6E6E6;
    --color-border: #696969;
    --color-border-light: #353535
}

@media (prefers-color-scheme: dark) {
    html, html[data-theme="dark"] {
        --color-bg-main: #262626;
        --color-bg-sub: #18181C;
        --color-text-main: #FAFAFC;
        --color-text-sub: #FFFEFF;
        --color-text-link: #6D9EFF;
        --color-border-dark: #E6E6E6;
        --color-border: #696969;
        --color-border-light: #353535
    }

    html[data-theme="light"] {
        --color-bg-main: #FFFFFF;
        --color-bg-sub: #FAFAFC;
        --color-text-main: #282832;
        --color-text-sub: #5D5D67;
        --color-text-link: #2380ED;
        --color-border-dark: #363636;
        --color-border: #BABCBD;
        --color-border-light: #E5E5E5
    }
}

/*The sidepanel menu*/
.sidepanel {
    width: 0;
    height: 100%;
    position: fixed; /*stay in place*/
    z-index: 1000; /*stay on top*/
    top: 0;
    left: 0;
    background-color: #111; /*black*/
    overflow-x: hidden; /*disable horizontal scroll*/
    padding-top: 60px; /*placed content 60px from the top*/
    transition: 0.5s; /*0.5 second transition effect to slide in side panel*/
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}