
/*Leaflet night/dark mode*/
.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

/*The sidepanel menu*/
.sidepanel {
    width: 0;
    height: 100vh;
    position: fixed; /*stay in place*/
    z-index: 1000; /*stay on top*/
    top: 0;
    right: 0; /*show the panel on the right*/
    background-color: white; /*black*/
    overflow-x: hidden; /*disable horizontal scroll*/
    overflow-y: scroll;
    padding-top: 60px 20px; /*placed content 60px from the top*/
    transition: 0.3s; /*0.3 second transition effect to slide in side panel*/
}

/*highlight the selected marker, connected to js*/
.markerSelected {
    transform: scale(1.75);
    filter: drop-shadow(0px 0px 10px rgba(243, 29, 29, 0.5));
}


/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel .name {
    padding: 0px 5px 0px 20px;
    color: #181818;
    font-weight: bold;
    text-decoration: antiquewhite;
    font-size: 25px;
}

/*display the text within the panel*/
.sidepanel a, .sidepanel p { 
    padding: 0px 0px 0px 32px;
    text-decoration: none;
    font-size: 17px;
    color: #585858;
    display: block;
    overflow-y: scroll;
    transition: 0.3;
}

.panel-image {
    width: 100%;
    height: auto;
    margin-bottom: 12px;
    border-radius: 6px;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #151515;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
  color: rgb(43, 43, 43);
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  overflow-y: scroll;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}